<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>EDUTER</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-ko.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
    <div class="row-fluid" id="container">
        <div class="row-fluid">
            <div class="span12" id="container-top">
                <h1>EDUTER</h1>

            </div>

        </div>
        <div class="row-fluid">
            <div class="span8" id="container-left">

                <div class="span12" id="exam">
                    <!--  문제지 화면 -->

                    <div class="subject">
                        <h3><strong class="primary-font">2017년도 7월 전국연합학력평가 영어 </strong></h3>
                        <p>18. 다음 글의 목적으로 가장 적절한 것은?</p>
                        <pre>Dear Sir,
 Your organization is one of the major contributors to the community of Queens, and we are happy to be doing business with you. I am delighted to inform you that we have started another venture under the name “Happy Kids Day Care Center” within the Queens community. With our new facility we will be able to provide care for 100 kids in our community. The opening ceremony of our day care center is scheduled for Thursday, July 20, 2017, at 11:00 a.m. The event will be attended by our close business friends, our company members, and a few parents who have already enrolled their children in our first group. We would be extremely grateful if you could come to the event and be a part of our celebration. Kindly inform us of your decision as soon as possible.
Yours faithfully, Dave Manly</pre>

                        </div>

                        <div>
                            <p>1 보육시설 개관식에 초대하려고</p>
                            <p>2 어린이집 환경 개선을 건의하려고</p>
                            <p>3 주민센터 이용 수칙을 안내하려고</p>
                            <p>4 신규 사업에 대한 투자를 권유하려고</p>
                            <p>5 보육교사 양성과정 수강생을 모집하려고</p>
                        </div>


                    </div>

                    <div class="span12" id="select-content">
                        <ul class="pager">
                            <li class="previous">
                                <a href="#">&larr; 이전</a>
                            </li>
                            <li class="middle">
                                <div class="span1" id="numbers">
                                    <img src="bootstrap/img/one.png">
                                </div>
                                <div class="span1" id="numbers">
                                    <img src="bootstrap/img/two.png">
                                </div>
                                <div class="span1" id="numbers">
                                    <img src="bootstrap/img/three.png">
                                </div>
                                <div class="span1" id="numbers">
                                    <img src="bootstrap/img/four.png">
                                </div>
                                <div class="span1" id="numbers">
                                    <img src="bootstrap/img/five.png">
                                </div>
                                <div class="span4" id="input-text">
                                    <input class="input-large" type="text" placeholder="주관식 답란">
                                </div>
                            </li>
                            <li class="next">
                                <a href="#">다음 &rarr;</a>
                            </li>
                        </ul>



                    </div>


                </div>

                <!-- 챗봇 대화 화면 -->

                <div class="span4 bg-white" id="container-right">

                    <div class="row-fluid" id="chatbot">
                        <h3>CHATTING</h3>
                        <div class="chat-message">
                            <ul class="chat">
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="https://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">eduter</strong>
                                            <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                                        </div>
                                        <p>
                                            오늘은 어떤 모의고사를 풀어볼래?
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">임진하</strong>
                                            <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                                        </div>
                                        <p>
                                            영어 모의고사 아무거나 보여줘
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="https://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">eduter</strong>
                                            <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                                        </div>
                                        <p>
                                            2017년 7월 전국연합학력평가야 열심히 풀어!
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">임진하</strong>
                                            <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                                        </div>
                                        <p>
                                            고마워~
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="https://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">eduter</strong>
                                            <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                                        </div>
                                        <p>
                                            너는 빈칸추론 문제에 약한 것 같아. 유사 문제 더 풀어봐 내가 추천해줄게!
                                        </p>
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </div>




                    <div class="span4" id="chatbot-input">
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-append">
                                    <input class="input-xlarge" id="appendedInputButton focusedInput" type="text" placeholder="대화를 입력해주세요.">
                                    <button class="btn" type="submit">보내기</button>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>






            </div>

        </div>




        <div id="footer">

        </div>

    </body>
    </html>