<li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="https://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                                    </span>
    <div class="chat-body clearfix">
        <div class="header">
            <strong class="primary-font">eduter</strong>
            <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago
            </small>
        </div>
        <p>
            오늘은 어떤 모의고사를 풀어볼래?
        </p>
    </div>
</li>