<li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
                                    </span>
    <div class="chat-body clearfix">
        <div class="header">
            <strong class="primary-font">임진하</strong>
            <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago
            </small>
        </div>
        <p>
            영어 모의고사 아무거나 보여줘
        </p>
    </div>
</li>