<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>EDUTER</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../static/bootstrap/css/bootstrap-ko.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
    <div class="row-fluid" id="container">
        <div class="row-fluid">
            <div class="span12" id="container-top">
                <h1>EDUTER</h1>

            </div>

        </div>
        <div class="row-fluid">
            <div class="span8" id="container-left">

                <img id="bot-img" src="../static/img/robot.png">
                <h1 id="bot-msg">Welcom to Edutor World !</h1>

            </div>

            <!-- 챗봇 대화 화면 -->

            <div class="span4 bg-white" id="container-right">

                <div class="row-fluid" id="chatbot">
                    <h3>CHATTING</h3>
                    <div class="chat-message">
                        <ul class="chat">
                            <li class="left clearfix">
                                <span class="chat-img pull-left">
                                    <img src="https://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">eduter</strong>
                                        <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                                    </div>
                                    <p>
                                        오늘은 어떤 모의고사를 풀어볼래?
                                    </p>
                                </div>
                            </li>
                            <li class="right clearfix">
                                <span class="chat-img pull-right">
                                    <img src="https://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">임진하</strong>
                                        <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                                    </div>
                                    <p>
                                        영어 모의고사 아무거나 보여줘
                                    </p>
                                </div>
                            </li>
                            <li class="left clearfix">
                                <span class="chat-img pull-left">
                                    <img src="https://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">eduter</strong>
                                        <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                                    </div>
                                    <p>
                                        2017년 7월 전국연합학력평가야 열심히 풀어!
                                    </p>
                                </div>
                            </li>
                            <li class="right clearfix">
                                <span class="chat-img pull-right">
                                    <img src="https://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">임진하</strong>
                                        <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                                    </div>
                                    <p>
                                        고마워~
                                    </p>
                                </div>
                            </li>
                            <li class="left clearfix">
                                <span class="chat-img pull-left">
                                    <img src="https://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">eduter</strong>
                                        <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                                    </div>
                                    <p>
                                        너는 빈칸추론 문제에 약한 것 같아. 유사 문제 더 풀어봐 내가 추천해줄게!
                                    </p>
                                </div>
                            </li>


                        </ul>
                    </div>
                </div>




                <div class="span4" id="chatbot-input">
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="input-append">
                                <input class="input-xlarge" id="appendedInputButton focusedInput" type="text" placeholder="대화를 입력해주세요.">
                                <button class="btn" type="submit">보내기</button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>






        </div>

    </div>




    <div id="footer">

    </div>

</body>
</html>