<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>EDUTER</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../static/bootstrap/css/bootstrap-ko.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
</head>
<body>
    <div class="row-fluid" id="container">
        <div class="row-fluid">
            <div class="span12" id="container-top">
                <h1>EDUTER</h1>
            </div>

            <div class="span12 form-content" id="container-login">
                <form accept-charset="utf-8" method="post" id="UserLoginForm" class="form-signin" action="">
                    <h1 class="form-signin-heading text-muted">Login</h1>
                    <input type="text" id="username" autofocus="autofocus" placeholder="Username" class="form-control" name="username" style="width:300px;margin-top:20px;">
                    <input type="password" id="password" placeholder="Password" class="form-control" name="password" style="width:300px;">
                    <button type="button" class="btn btn-lg btn-info btn-block" style="width:300px; height:40px;margin-top:20px;">
                    Login
                    </button>
                    <button type="button" class="btn btn-lg btn-block" style="width:300px; height:40px;margin-top:20px;">
                    Join
                    </button>
                </form>
            </div>

        </div>

    </div>


</body>
</html>