<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>EDUTER</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../static/bootstrap/css/bootstrap-ko.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
    <div class="row-fluid" id="container">
        <div class="row-fluid">
            <div class="span12" id="container-top">
                <h1>EDUTER</h1>
            </div>
        </div>

        <div class="mypage row">

            <div class="myterm-info span8">
                <span id="mygrade-txt">
                    <p>현재 수능 예상 성적은 " 국어 2 수학 1 영어 5 " 등급입니다.</p>
                </span>
            </div>

            <div class="myterm-info span8">

                <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>날짜</th>
                                <th>시험정보</th>
                                <th>점수</th>
                                <th>등급</th>
                                <th>확인</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>2017.9.4</td>
                                <td>2016년도 10월 수학 모의고사</td>
                                <td>86</td>
                                <td>3</td>
                                <td><a>확인</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>2017.9.6</td>
                                <td>2016년도 수학 수능기출문제</td>
                                <td>90</td>
                                <td>2</td>
                                <td><a>확인</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>2017.9.6</td>
                                <td>2016년도 수학 수능기출문제</td>
                                <td>90</td>
                                <td>2</td>
                                <td><a>확인</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>2017.9.6</td>
                                <td>2016년도 수학 수능기출문제</td>
                                <td>90</td>
                                <td>2</td>
                                <td><a>확인</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>2017.9.6</td>
                                <td>2016년도 수학 수능기출문제</td>
                                <td>90</td>
                                <td>2</td>
                                <td><a>확인</a></td>
                            </tr>
                            </tbody>
                            </table>

            </div>

        </div>
    </div>


    <div id="footer">

    </div>

</body>
</html>