<script>
    function myClick() {
        $("#term-question-frame").load('/mypage-info',{data:'good'});
    }
</script>
<div class="mypage row">

    <div class="myterm-info span12">
                <span id="mygrade-txt">
                    <p>현재 수능 예상 성적은 "{% for ele in oracle %}{{ ele }}:{{ oracle[ele] }} {% endfor %}" 등급입니다.</p>
                </span>
    </div>

    <div class="myterm-info span12">

        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>날짜</th>
                <th>시험정보</th>
                <th>점수</th>
                <th>등급</th>
                <th>확인</th>
            </tr>
            </thead>
            <tbody>
            {% for ele in data %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ ele['time'] }}</td>
                    <td>{{ ele['term']['year'] }}년도 {{ ele['term']['subject'] }} {{ ele['term']['term_type'] }}</td>
                    <td>{{ ele['total'] }}</td>
                    <td>{{ ele['grade'] }}</td>
                    <td><a href="#" onclick="myClick()">확인</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

</div>