<div class="span12" id="select-content">
    <ul class="pager">
        <li class="previous">
            <a href="#">&larr; 이전</a>
        </li>
        <li class="middle">
            <div class="span1" id="numbers">
                <img src="../static/bootstrap/img/one.png">
            </div>
            <div class="span1" id="numbers">
                <img src="../static/bootstrap/img/two.png">
            </div>
            <div class="span1" id="numbers">
                <img src="../static/bootstrap/img/three.png">
            </div>
            <div class="span1" id="numbers">
                <img src="../static/bootstrap/img/four.png">
            </div>
            <div class="span1" id="numbers">
                <img src="../static/bootstrap/img/five.png">
            </div>
            <div class="span4" id="input-text">
                <input class="input-large" type="text" placeholder="주관식 답란">
            </div>
        </li>
        <li class="next">
            <a href="#">다음 &rarr;</a>
        </li>
    </ul>


</div>