<div class="span12" id="exam">
    <!--  문제지 화면 -->

    <div class="subject">
        <h3><strong class="primary-font">{{year}}년도 {{month}}월 전국연합학력평가 {{subject}}</strong></h3>
        <p>18. 다음 글의 목적으로 가장 적절한 것은?</p>
        <pre>Dear Sir,
 Your organization is one of the major contributors to the community of Queens, and we are happy to be doing business with you. I am delighted to inform you that we have started another venture under the name “Happy Kids Day Care Center” within the Queens community. With our new facility we will be able to provide care for 100 kids in our community. The opening ceremony of our day care center is scheduled for Thursday, July 20, 2017, at 11:00 a.m. The event will be attended by our close business friends, our company members, and a few parents who have already enrolled their children in our first group. We would be extremely grateful if you could come to the event and be a part of our celebration. Kindly inform us of your decision as soon as possible.
Yours faithfully, Dave Manly</pre>

    </div>

    <div>
        <p>1 보육시설 개관식에 초대하려고</p>
        <p>2 어린이집 환경 개선을 건의하려고</p>
        <p>3 주민센터 이용 수칙을 안내하려고</p>
        <p>4 신규 사업에 대한 투자를 권유하려고</p>
        <p>5 보육교사 양성과정 수강생을 모집하려고</p>
    </div>


</div>